{% extends "layout.html" %}
{% block content %}
<div id="doc2" class="yui-t7">
	<div id="inner">

		<div id="hd">
			<div class="yui-gc">
				<div class="yui-u first">
					<h1>Joel Ramsey</h1>
					<h2>Data Science Practitioner | CyberSec Solutions Architect</h2>
				</div>

				<div class="yui-u">
					<div class="contact-info">
						<h3><a href="mailto:name@yourdomain.com">joel.ramsey@defblox.com</a></h3>
						<h3>(910) 539-1527</h3>
					</div><!--// .contact-info -->
				</div>
			</div><!--// .yui-gc -->
		</div><!--// hd -->

		<div id="bd">
			<div id="yui-main">
				<div class="yui-b">

					<div class="yui-gf">
						<div class="yui-u first">
							<h2>Profile</h2>
						</div>
						<div class="yui-u">
							<p class="enlarge">
								Experienced data engineering and analytics service provider with 12 years of experience across multiple verticals from commercial cybersecurity to various domains of the Defense sector. Services include general consulting, data architecture and design, ETL, analytics, visualization, and machine learning modeling.
							</p>
						</div>
					</div><!--// .yui-gf -->

					<div class="yui-gf">
						<div class="yui-u first">
							<h2>Skills</h2>
						</div>
						<div class="yui-u">

								<div class="talent">
									<h2>Data Engineering</h2>
									<p>Specializes in projects involving the collection and ETL or ELT of various sources and feeds into data warehouses and lakes.	</p>
								</div>

								<div class="talent">
									<h2>Analytics</h2>
									<p>Uses Data Science methodologies to expose the value of organizational data with techniques ranging from basic statistic methods to machine learning.	 </p>
								</div>

								<div class="talent">
									<h2>Java Development</h2>
									<p>Uses Java and Scala to extend COST product functionality with backend capabilities to get the most out of data product licenses.</p>
								</div>
						</div>
					</div><!--// .yui-gf -->

					<div class="yui-gf">
						<div class="yui-u first">
							<h2>Technical</h2>
						</div>
						<div class="yui-u">
							<ul class="talent">
								<li>Python</li>
								<li>R</li>
								<li>Apache Kafka</li>
								<li class="last">Machine Learning</li>
							</ul>

							<ul class="talent">
								<li>Java</li>
								<li>ETL/ELT</li>
								<li>Koverse</li>
								<li class="last">Data Solution Architecture</li>
							</ul>

							<ul class="talent">
								<li>Atlassian Suite of Tools</li>
								<li>Data Visualization</li>
								<li>REST API Development</li>
								<li class="last">Apache NiFi</li>
							</ul>
						</div>
					</div><!--// .yui-gf-->

					<div class="yui-gf">

						<div class="yui-u first">
							<h2>Experience</h2>
						</div><!--// .yui-u -->

						<div class="yui-u">

							<div class="job">
								<h2>Independent Contractor | AF TENCAP</h2>
								<h3>Data Engineering and Analytics Services</h3>
								<h4>2022-present</h4>
								<p>Serves as multidisciplinary Data Scientist and Engineer. Uses NiFi to ETL data from an assortment of DoD and intelligence stream sources through Kafka and ultimately to Accumulo-based data lake. Working with Front-End Developers to coordinate the presentation layer of mission data. Working to build machine learning environment in new offsite location
. </p>
							</div>

							<div class="job">
								<h2>ProofID</h2>
								<h3>Security Solution Architect, Data Engineering Team</h3>
								<h4>2017-2022</h4>
								<p>Served as the Identity Governance Practice Lead from a technical perspective. Planned and implemented projects for the ProofID-owned Ideiio IGA solution as well as Sailpoint IdentityIQ. Performed data flow management and ETL using PingDataSync, NiFi, and Pentaho.
								Performed code reviews for peers. Wrote SDK extensions for Ping solutions and Beanshell for IdentityIQ rules and workflows. </p>
							</div>

							<div class="job">
								<h2>Penta Research, Inc.</h2>
								<h3>Software Developer/Systems Engineer</h3>
								<h4>2017</h4>
								<p>Served as the sole Systems Engineer supporting the re-architecture of a legacy Ballistic Missile Defense System scheduling application (IST). Assumed dual responsibilities as the IST technical manager and Software Developer (ASP.Net MVC with C#) to meet development timeline. Task load included producing Software Requirement Specifications 25% and engineering 75%.
 </p>
							</div>


							<div class="job last">
								<h2>Intelligent Software Solutions, Inc.</h2>
								<h3>Product Manager (Various but most senior listed)</h3>
								<h4>2011-2017</h4>
								<p>Represented an enterprise data analysis and visualization product to internal and external stakeholders in accordance with business strategy. Led a Java-centric software engineering team through 11 operational development cycles. Led exploratory requirements sessions with stakeholders to determine feature development priorities. Performed bug fixes and feature development on legacy Java-based applications data analysis and visualization application line. Provided sponsorship and guidance to the executive team.
</p>
							</div>

						</div><!--// .yui-u -->
					</div><!--// .yui-gf -->


					<div class="yui-gf last">
						<div class="yui-u first">
							<h2>Education</h2>
						</div>
						<div class="yui-u">
							<h2>Colorado Technical University - Colorado Springs, CO</h2>
							<h3>Bachelor of Science in Information Technology </h3>
							<br>
							<h2>Norwich Univeristy - Northfield, VT</h2>
							<h3>Master of Business Administration </h3>
							<br>
							<h2>Eastern University - St Davids, PA</h2>
							<h3>Master of Science in Data Science (est completion - July 2022) </h3>
						</div>

					</div><!--// .yui-gf -->


				</div><!--// .yui-b -->
			</div><!--// yui-main -->
		</div><!--// bd -->

		<div id="ft">
			<p>Joel Ramsey &mdash; <a href="mailto:joel.ramsey@defblox.com">joel.ramsey@defblox.com</a> &mdash; (910) 539-1527</p>
		</div><!--// footer -->

	</div><!-- // inner -->


</div><!--// doc -->
{% endblock %}
