<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="content-type" content="text/html; charset=utf-8" />
	<meta name="keywords" content="" />
	<meta name="description" content="" />
	<link rel="stylesheet" type="text/css" href="http://yui.yahooapis.com/2.7.0/build/reset-fonts-grids/reset-fonts-grids.css" media="all" />
	<link rel="stylesheet" type="text/css" href="/static/style.css" media="all" />
</head>
  <body>
    <header>
      <div class="container">
        <h1 class="logo">Predicting Chronic Kidney Disease Using Machine Learning</h1>
        <strong><nav>
          <ul class="menu">
            <li><a href="{{ url_for('about') }}">About</a></li>
            <li><a href="{{ url_for('input') }}">Model Testing</a></li>
          </ul>
        </nav></strong>
      </div>
    </header>
    <div class="container">
      {% block content %}
      {% endblock %}
    </div>
  </body>
</html>
